@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel

<header>
    <h1 class="bg-success text-center text-white">Book List</h1>
</header>

<!--List table-->
<div class="">
    <table class="table table-bordered tale-striped table-sm">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author First Name</th>
                <th>Author Middle Name</th>
                <th>Author Last Name</th>
                <th>Publisher</th>
                <th>ISBN</th>
                <th>Classification</th>
                <th>Category</th>
                <th>Price</th>
                <th>Number of Pages</th>
            </tr>
        </thead>
        <!--For loop to show all items in the SeedData.cs-->
        <tbody>
            @foreach (var x in Model.Books)
            {
                <tr>
                    <td>@x.Title</td>
                    <td>@x.AuthorFirstName</td>
                    <td>@x.AuthorMiddleName</td>
                    <td>@x.AuthorLastName</td>
                    <td>@x.Publisher</td>
                    <td>@x.ISBN</td>
                    <td>@x.Classification</td>
                    <td>@x.Category</td>
                    <td>@x.Price</td>
                    <td>@x.NumberOfPages</td>
                </tr>
            }
        </tbody>
    </table>
</div>



<footer>
    <div page-model="@Model.PagingInfo"
         page-action="Index"
         page-classes-enabled="true"
         page-class="btn"
         page-class-normal="btn-outline-dark"
         page-class-selected="btn-primary"
         class="btn-group pull-right m-1">
    </div>
</footer>



