@{
    ViewData["Title"] = "Home Page";
}

@model IQueryable<Book> 

<header>
    <h1 class="bg-success text-center text-white">Book List</h1>
</header>
<!--List table-->

<div class="container">
    <table class="table table-bordered tale-striped table-sm">
        <thead>
            <tr><th>Title</th><th>Author</th><th>Publisher</th><th>ISBN</th><th>Classification/Category</th><th>Price</th></tr>
        </thead>

        <tbody>
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.Title</td>
                    <td>@x.Author</td>
                    <td>@x.Publisher</td>
                    <td>@x.ISBN</td>
                    <td>@x.Category</td>
                    <td>@x.Price</td>
                </tr>
            }
        </tbody>
    </table>
</div>
